@using InplayBet.Web.Models
@using InplayBet.Web.Utilities
@model List<ChallengeModel>
@functions {
    public static string SetChallengeColor(ChallengeModel challenge)
    {
        string challangeStatus = challenge.ChallengeStatus.AsString();
        if (string.IsNullOrEmpty(challangeStatus))
            return "yellow-box";
        else if (challangeStatus.ToLower() = "lost")
            return "red-box";
        else if (challangeStatus.ToLower() = "lost")
            return "green-box";
    }
}
@helper PopulateChallenge(ChallengeModel challenge)
{
    <div class='@((challenge == null)?"yellow-box":SetChallengeColor(challenge))'>
        <div class="blk-bg">
            <h3 class="blk-heading">Challenge @((challenge == null) ? "1" : challenge.ChallengeNumber.AsString()) - Inplay</h3>
            <a href="#" class="report-btn">report</a>
        </div>
        <div class="scroll">
            <div class="outer">
                @if (challenge == null)
                {
                    @Html.RenderPartial("GetBetsByChallenge", new List<BetModel>(),
                        new ViewDataDictionary { { "CurrentChallenge", new ChallengeModel() } })
                }
                else
                {
                    @Html.RenderPartial("GetBetsByChallenge", challenge.Bets,
                        new ViewDataDictionary { { "CurrentChallenge", challenge } })
                }
            </div>
        </div>
    </div>
}

@foreach (ChallengeModel challenge in Model)
{
    PopulateChallenge(challenge)
    if (Model.IndexOf(challenge) == 1)
    {
        <div class="promo-bnr"><img src='@Url.Content("~/Styles/images/bet-promo-bnr.jpg")' alt=""></div>
    }
}
@if (Model == null)
{
    PopulateChallenge(null)
    <div class="promo-bnr"><img src='@Url.Content("~/Styles/images/bet-promo-bnr.jpg")' alt=""></div>
}