@using InplayBet.Web.Models
@using InplayBet.Web.Models.Base
@using System.Globalization
@model BetModel
@{
    Layout = null;
    string cultureCode = (string)(ViewBag.CultureCode ?? ViewData["CultureCode"]);
    string betDisplayMode = (string)(ViewBag.BetDisplayMode ?? ViewData["BetDisplayMode"]);
}
@if (betDisplayMode == BetDisplayType.Insert.ToString())
{
    using (Ajax.BeginForm("InsertNewBet", "Bet", new AjaxOptions
    {
        HttpMethod = "POST",
        //OnBegin = "return InsertBetBeforeSend(this)",
        OnSuccess = "InsertUpdateBetSuccessHandler(data, this)"
    }, new { id = "frmInsertBet" }))
    {
        <div class="popup-border">
            <ul class="popup">
                <li>
                    <p>Bet @Model.BetNumber.ToString()</p>
                </li>
                <li>
                    <label><strong>Team Names:</strong></label>
                    <div class="left-input">
                        @Html.HiddenFor(m => m.TeamAId)
                        <input type="text" name="" id="txtTesmA" value="">
                        <a href="javascript:void();" class="btn">+</a>
                    </div>
                    <span class="vs">vs</span>
                    <div class="left-input">
                        @Html.HiddenFor(m => m.TeamBId)
                        <input type="text" name="" id="txtTesmB" value="">
                        <a href="javascript:void();" class="btn">+</a>
                    </div>
                </li>
                <li>
                    <label><strong>league:</strong></label>
                    <div class="input-full-outer">
                        @Html.HiddenFor(m => m.LegueId)
                        <input type="text" name="" id="txtLegue" class="full" value="">
                        <a href="javascript:void();" class="btn">+</a>
                    </div>
                </li>
                <li>
                    <label><strong>Bet Type:</strong></label>
                    <div class="input-full-outer">@Html.TextBoxFor(m => m.BetType, new { @class = "full" })</div>
                </li>
                <li>
                    <label><strong>Odds:</strong></label>
                    <div class="input-full-outer">@Html.TextBoxFor(m => m.Odds, new { @class = "full" })</div>
                </li>
                <li>
                    <label><strong>Amount Placed:</strong></label>
                    <div class="input-full-outer">@Html.TextBoxFor(m => m.BetPlaced, new { @class = "full", @readonly = true })</div>
                </li>
                <li>
                    <label><strong>Winning Total:</strong></label>
                    <div class="input-full-outer">@Html.TextBoxFor(m => m.WiningTotal, new { @class = "full" })</div>
                </li>
                <li>
                    <input type="submit" value="submit" name="">
                </li>
            </ul>
        </div>

        @Html.HiddenFor(m => m.BetId)
        @Html.HiddenFor(m => m.ChallengeId)
        @Html.HiddenFor(m => m.BetNumber)
        @Html.HiddenFor(m => m.BetStatus)
        @Html.HiddenFor(m => m.StatusId)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreatedOn)

        @Html.HiddenFor(m => m.Challenge.ChallengeId)
        @Html.HiddenFor(m => m.Challenge.ChallengeNumber)
        @Html.HiddenFor(m => m.Challenge.ChallengeStatus)
        @Html.HiddenFor(m => m.Challenge.UserKey)
        @Html.HiddenFor(m => m.Challenge.WiningPrice)
        @Html.HiddenFor(m => m.Challenge.CreatedBy)
        @Html.HiddenFor(m => m.Challenge.CreatedOn)
        @Html.HiddenFor(m => m.Challenge.StatusId)
    }
}
else
{
    using (Ajax.BeginForm("UpdateBetStatus", "Bet", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "InsertUpdateBetSuccessHandler(data, this)"
    }, new { id = "frmUpdateBet" }))
    {
        <div class="popup-border">
            <ul class="popup">
                <li>
                    <p>Bet @Model.BetNumber.ToString()</p>
                </li>
                <li>
                    <label><strong>Team Names:</strong></label>
                    @Html.Label(Model.TeamA.TeamName)
                    <label class="vs"><strong>vs</strong></label>
                    @Html.Label(Model.TeamB.TeamName)
                </li>
                <li>
                    <label><strong>league:</strong></label>
                    @Html.Label(Model.Legue.LegueName, new { @class = "right" })
                </li>
                <li>
                    <label><strong>Bet Type:</strong></label>
                    @Html.Label(Model.BetType, new { @class = "right" })
                </li>
                <li>
                    <label><strong>Odds:</strong></label>
                    @Html.Label(Model.Odds, new { @class = "right" })
                </li>
                <li>
                    <label><strong>Amount Placed:</strong></label>
                    <label class="right">@Model.BetPlaced.ToString("C", (new CultureInfo(cultureCode)))</label>
                </li>
                <li>

                    <label><strong>Winning Total:</strong></label>
                    <label class="right">@Model.WiningTotal.ToString("C", (new CultureInfo(cultureCode)))</label>
                </li>

                @if (betDisplayMode == BetDisplayType.Update.ToString())
                {
                    <li>
                        <label><strong>Bet Submited On:</strong></label>
                        <label class="right">@Model.CreatedOn.ToString("dd/MM/yyyy hh:mm tt", (new CultureInfo(cultureCode)))</label>
                    </li>
                    <li>
                        <input type="submit" value="@StatusCode.Won.ToString()" name="BetStatus" />
                        <input type="submit" value="@StatusCode.Lost.ToString()" name="BetStatus" />
                    </li>
                }
                else if (betDisplayMode == BetDisplayType.Read.ToString())
                {
                    <li>
                        <label><strong>Bet Submited On:</strong></label>
                        <label class="right">@Model.CreatedOn.ToString("dd/MM/yyyy hh:mm tt", (new CultureInfo(cultureCode)))</label>
                    </li>
                    <li>
                        <label><strong>Bet @Model.BetStatus On:</strong></label>
                        <label class="right">@Model.UpdatedOn.Value.ToString("dd/MM/yyyy hh:mm tt", (new CultureInfo(cultureCode)))</label>
                    </li>
                    <li>
                        <label><strong>Status:</strong></label>
                        <label>@Html.Label(Model.BetStatus)</label>
                    </li>
                }

            </ul>
        </div>

        @Html.HiddenFor(m => m.BetId)
        @Html.HiddenFor(m => m.TeamAId)
        @Html.HiddenFor(m => m.TeamBId)
        @Html.HiddenFor(m => m.LegueId)
        @Html.HiddenFor(m => m.ChallengeId)
        @Html.HiddenFor(m => m.BetType)
        @Html.HiddenFor(m => m.BetNumber)
        @Html.HiddenFor(m => m.Odds)
        @Html.HiddenFor(m => m.BetStatus)
        @Html.HiddenFor(m => m.BetPlaced)
        @Html.HiddenFor(m => m.WiningTotal)
        @Html.HiddenFor(m => m.StatusId)
        @Html.HiddenFor(m => m.CreatedBy)
        @Html.HiddenFor(m => m.CreatedOn)
    }
}