@using InplayBet.Web.Models
@using System.Globalization
@model BetNotificationViewModel
@{Layout = null;}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home</title>
</head>

<body style="margin: 0; padding: 0;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td style="background: #010205; padding: 10px;">
                <a href="#">
                    <img src="http://www.inplay20.com/Styles/images/logo.png" width="237" height="66" alt="" border="0" />
                </a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="ebebeb" colspan="2" style="font-size: 30px; font-weight: bold; color: #000; padding: 5px; font-family: Arial, Helvetica, sans-serif; border: 0;">Member Details</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 15%">
                            <a href="#">
                                <img src="http://www.inplay20.com/Images/Users/Default.jpg" width="165" height="170" alt="" border="0" />
                            </a>
                        </td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">
                            <h4>Name: @Model.User.UserId</h4>
                            <p>Member Since: @Model.User.MemberSince.ToString("d", new CultureInfo(Model.User.CultureCode)) </p>
                            <p>Ranking: @Model.User.Rank</p>
                            <p>Bookmarker - @Model.User.BookMakerName</p>
                            <p>Consecutive Bet Wins: @TempData["ConsicutiveWonBets"]</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="ebebeb" colspan="2" style="font-size: 30px; font-weight: bold; color: #000; padding: 5px; font-family: Arial, Helvetica, sans-serif; border: 0;">Bet @Model.Bet.BetNumber</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;" width="20%"><strong>Team Names:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">
                            <label></label>
                            @((Model.Bet.TeamA != null) ? Model.Bet.TeamA.TeamName : Model.Bet.TeamAName)
                            <strong>vs</strong>
                            @((Model.Bet.TeamB != null) ? Model.Bet.TeamB.TeamName : Model.Bet.TeamBName)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>League:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@((Model.Bet.Legue != null) ? Model.Bet.Legue.LegueName : Model.Bet.LegueName)</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>Bet Type:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@Model.Bet.BetType</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>Odds:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@Model.Bet.Odds</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>Amount Placed:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@Model.Bet.BetPlaced.ToString("C", new CultureInfo(Model.User.CultureCode))</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>Winning Total:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@Model.Bet.WiningTotal.ToString("C", new CultureInfo(Model.User.CultureCode))</td>
                    </tr>
                    <tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>Bet Submited On:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@Model.Bet.CreatedOn.ToString("dd/MM/yyyy hh:mm:ss tt", new CultureInfo(Model.User.CultureCode))</td>
                    </tr>
                    @*<tr>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;"><strong>Status:</strong></td>
                        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; padding: 5px;">@Model.Bet.BetStatus</td>
                    </tr>*@
                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>
</html>
