@{Layout = null;}
<div class="footer">
    <div class="center">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("How To Play", "Index", "HowToPlay", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Ranking", "Index", "Ranking", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Latest Bets", "Index", "LatestBets", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Latest Winners", "Index", "LatestWinners", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Member Search", "Index", "MemberSearch", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Sign Up", "Index", "RegisterUser", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)</li>
            <li><a href="javascript:alert('Not implemented yet!')">Terms & Conditions</a></li>
            <li><a href="javascript:alert('Not implemented yet!')">Privacy Policy</a></li>
        </ul>
        <div class="clear"></div>
        <p>&copy; 2015 Inplay20.com.  All rights reserved</p>
    </div>
</div>