@using InplayBet.Web.Models
@using InplayBet.Web.Utilities
@model SignInModel
@{Layout = null;}

<div class="right">
    @if (SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey) == 0)
    {
        using (Ajax.BeginForm("SignIn", "RegisterUser", new { area = "" },
        new AjaxOptions { HttpMethod = "POST", OnSuccess = "SignInSuccessHandler(data, this)" }, new { id = "frmSignIn" }))
        {
            <div>
                <p><a href="#">Lost your log in details?</a></p>
                <p class="remember">Remember Me?</p>
                <input type="checkbox" name="" value="" />
            </div>
            <div>
                <div>@Html.TextBoxFor(m => m.UserOrEmail, new { placeholder = "Email" })</div>
                @Html.ValidationMessageFor(m => m.UserOrEmail)
            </div>
            <div>
                <div>@Html.TextBoxFor(m => m.Password, new { type = "password", placeholder = "Password" })</div>
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div>
                <input type="submit" name="" value="submit" />
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("SignOut", "RegisterUser", FormMethod.Post, new { id = "frmSignOut" }))
        {
            <div style="font-size: 15px;text-transform: uppercase;color: #fff;">@(SessionVeriables.GetSessionData<string>(SessionVeriables.UserName))</div>
            <div style="width:15%;">
                <input type="submit" name="" value="Sign Out" />
            </div>
        }
    }
</div>