<div class="nav-container">
    <div class="center">
        <ul class="nav">
            <li class="active">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
            <li>@Html.ActionLink("How To Play", "Index", "HowToPlay", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Ranking", "Index", "Ranking", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Latest Bets", "Index", "LatestBets", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Latest Winners", "Index", "LatestWinners", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Member Search", "Index", "MemberSearch", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Sign Up", "Index", "RegisterUser", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Contact Us", "Index", "ContactUs", new { area = "" }, null)</li>
        </ul>
    </div>
</div>
