@using InplayBet.Web.Utilities
@using InplayBet.Web.Models
@using InplayBet.Web.Models.Base
@using System.Globalization
@model List<UserRankViewModel>
@{
    Layout = null;
    int lastElement = (int)(ViewBag.LastElement ?? ViewData["LastElement"]);
    int loggedInUser = SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey);
    int totalRecord = (int)(ViewBag.TotalRecord ?? 0);
    int pageSize = (int)(ViewBag.PageSize ?? 0);
}
@functions {
    string getClassName(int index, int lastIndex)
    {
        return ((index + 1) % lastIndex) == 0 ? "class=last" : "";
    }

    string getStringFromIndex(int index)
    {
        int ind = (index + 1);
        switch (ind)
        {
            case 1:
                return ind.ToString() + "st";
            case 2:
                return ind.ToString() + "nd";
            case 3:
                return ind.ToString() + "rd";
            default:
                return ind.ToString() + "th";
        }
    }
}
@Html.Hidden("extTotalRecord", totalRecord, new { id = "extTotalRecord" })
@Html.Hidden("extPageSize", pageSize, new { id = "extPageSize" })
<ul class="leadbroad-block">
    @foreach (UserRankViewModel user in Model)
    {
        var id = Model.IndexOf(user);
        var follow = CommonUtility.IsFollowing(user.UserKey);
        <li onclick="RedirevtToUserProfile('@user.UserId')" @getClassName(Model.IndexOf(user), lastElement)>
            <div class="position">@getStringFromIndex(Model.IndexOf(user))</div>
            <div class="leaderblock">
                <h3 class="blue-heading">Member Profile</h3>
                <div class="block-top">
                    <div class="prof-short-img"><img src='@Url.Content(user.AvatarPath)' alt=""></div>
                    <h4>@user.UserId</h4>
                    <p class="member">Member Since: @user.MemberSince.ToString("d", new CultureInfo(user.CultureCode))</p>
                    <p class="join">Ranking: @user.Rank</p>
                    <div class="clear"></div>
                    <div class="points">
                        <p class="left">Followers : <i class="follow-count" id="@id" onclick="ShowFollowerUsers(this, event, @user.UserKey, @user.Followers)">@user.Followers</i></p>
                        <p class="right">
                            @if (loggedInUser == 0)
                            {
                                <a href="javascript:void(0)" class="follow-link" title="Follow the user"
                                   style="background-image:url('@Url.Content("~/Styles/images/thumb-up-32.png")')"
                                   onclick="ShowSignupMessage(this, event)"></a>
                            }
                            else if (follow > 0)
                            {
                                <a href="javascript:void(0)" class="follow-link" data-status="@follow"
                                   onclick="Follow(this, event, @loggedInUser, @user.UserKey, '#@id')"></a>
                            }
                        </p>
                    </div>
                    <div class="points">
                        <p class="left">Wins - @user.Wins</p>
                        <p class="right">Losses - @user.Losses</p>
                    </div>
                    <div class="points">
                        <p class="left">Won - @user.Won.ToString("C", new CultureInfo(user.CultureCode))</p>
                        <p class="right">Placed - @user.Placed.ToString("C", new CultureInfo(user.CultureCode))</p>
                    </div>
                    <div class="points">
                        <p class="left">Profit</p>
                        <p class="right">@user.Profit.ToString("C", new CultureInfo(user.CultureCode))</p>
                    </div>
                    <div class="points">
                        <p class="left">Book Maker</p>
                        <p class="right">@user.BookMakerName</p>
                    </div>
                    <div class="points points-botm">
                        <p class="left">Winning Bets</p>
                        <p class="right">@user.BetWins</p>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>