@using InplayBet.Web.Models
@model UserModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Registration" } });}
<div class="main-container">
    <div class="container">
        <div class="registration-block">
            <h2 class="query-heading">Registration</h2>
            <h4 class="grn-heading">Inplay Betting Account</h4>
            <p>
                If you want to complete the £20-£1000 challenge with real money, you will need to create an inplay betting account.<br>
                We recommend using Bet365 for your inplay bets, as they offer the most comprehensive inplay listing and the best odds.<br>
                Please click on the Bet365 below and it will take you Bet365 to create an account -
            </p>
            <div class="promo-bnr"><img src='@Url.Content("~/Styles/images/bet-promo-bnr.jpg")' alt=""></div>
            <h4 class="grn-heading">£20-£1000 Challenge Account Registration -</h4>
            <p>If you are waiting to sign up to our £20-£1000 system, please fill in the details below and create your account -</p>

            @using (Html.BeginForm("SignUp", "RegisterUser", FormMethod.Post, new { id = "frmSignUp" }))
            {
                <ul class="query-list">
                    <li>
                        <label>First Name:</label>
                        @Html.TextBoxFor(m => m.FirstName)
                    </li>
                    <li>
                        <label>First Name:</label>
                        @Html.ValidationMessageFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName)
                    </li>
                    <li>
                        <label>Last Name:</label>
                        @Html.ValidationMessageFor(x => x.LastName)
                        @Html.TextBoxFor(m => m.LastName)
                    </li>
                    <li>
                        <label>Email Address:</label>
                        @Html.ValidationMessageFor(x => x.EmailId)
                        @Html.TextBoxFor(m => m.EmailId)
                    </li>
                    <li>
                        <label>Currency:</label>
                        @Html.ValidationMessageFor(x => x.Currency)
                        @Html.DropDownListFor(m => m.Sex, (IEnumerable<SelectListItem>)ViewBag.Currencies, "Select Currency", null)
                    </li>
                    <li>
                        <div class="password">
                            <label>Password</label>
                            @Html.ValidationMessageFor(m => m.Password)
                            @Html.TextBoxFor(m => m.Password, new { type = "password" })
                        </div>
                        <div class="confirmpassword">
                            <label>Confirm Password</label>
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            @Html.TextBox("ConfirmPassword", "", new { type = "password" })
                        </div>
                    </li>
                    <li>
                        <label>I am:</label>
                        @Html.ValidationMessageFor(m => m.Sex)
                        @Html.DropDownListFor(m => m.Sex, (IEnumerable<SelectListItem>)ViewBag.Sex, "Select Sex", null)
                    </li>
                    <li>
                        <label>Date of birth:</label>
                        @Html.ValidationMessageFor(m => m.DobMonth)
                        @Html.DropDownListFor(m => m.DobMonth, (IEnumerable<SelectListItem>)ViewBag.Months, "Select Month", null)

                        @Html.ValidationMessageFor(m => m.DobDay)
                        @Html.DropDownListFor(m => m.DobDay, (IEnumerable<SelectListItem>)ViewBag.Days, "Select Date", null)

                        @Html.ValidationMessageFor(m => m.DobYear)
                        @Html.DropDownListFor(m => m.DobYear, (IEnumerable<SelectListItem>)ViewBag.Years, "Select Year", null)
                    </li>
                    <li>
                        <label>Bookmaker:</label>
                        @Html.DropDownListFor(m => m.BookMakerId, (IEnumerable<SelectListItem>)ViewBag.BookMakers)
                    </li>
                    <li>
                        <input name="" value="submit" type="submit">
                    </li>
                </ul>

                @Html.HiddenFor(m => m.UserId)
                @Html.HiddenFor(m => m.AvatarPath)
                @Html.HiddenFor(m => m.StatusId)
                @Html.HiddenFor(m => m.CreatedOn)
                @Html.HiddenFor(m => m.CreatedBy)
            }
        </div>
    </div>
</div>
