@using InplayBet.Web.Models
@using InplayBet.Web.Utilities
@using System.Globalization
@model UserRankViewModel
@{
    Layout = null;
    SharedFunctionality shared = new SharedFunctionality();
    int loggedInUser = SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey);
    var follow = CommonUtility.IsFollowing(Model.UserKey);
}
<div class="top">
    <div class="top-profile-img"><img src='@Url.Content(Model.AvatarPath)' alt=""></div>
    <div class="name-block">
        <h4><span>Name: </span>@Model.UserId</h4>
        <p class="member">Member Since: @Model.MemberSince.ToString("d", (new CultureInfo(Model.CultureCode)))</p>
        <p class="join">Ranking: @Model.Rank</p>
        <p class="bookmarker">Bookmarker - @Model.BookMakerName</p>
        <p class="bookmarker">Consecutive Bet Wins: @shared.GetConsicutiveWinByUser(Model.UserKey)</p>
        <div class="follow-block">
            <p class="bookmarker">Followers:</p>
            <i class="follow-count" id="counter" onclick="ShowFollowerUsers(this, event, @Model.UserKey, @Model.Followers)">@Model.Followers</i>
        </div>
        @if (loggedInUser == 0)
        {
            <p class="bookmarker">
                <a href="javascript:void(0)" class="follow-link" title="Follow the user"
                   style="background-image:url('@Url.Content("~/Styles/images/thumb-up-32.png")')"
                   onclick="ShowSignupMessage(this, event)"></a>
            </p>
        }
        else if (follow > 0)
        {
            <p class="bookmarker">
                <a href="javascript:void(0)" class="follow-link" data-status="@follow"
                   onclick="Follow(this, event, @loggedInUser, @Model.UserKey, '#counter')"></a>
            </p>
        }
    </div>
    <div class="detail-block">
        <p class="left">Wins @Model.Wins</p>
        <p class="left">Losses @Model.Losses</p>
        <p class="left">Winning Bets @Model.BetWins</p>
        <p class="left">Won @Model.Won.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
        <p class="left">Placed -@Model.Placed.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
        <p class="left">Profit @Model.Profit.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
    </div>
</div>