@using InplayBet.Web.Utilities
@using InplayBet.Web.Models
@model List<WinnerViewModel>
@{
    ViewBag.Title = "Latest Winners";
}
@section PageScript {
    @Html.RenderScripts("~/Scripts/ChallengeScript")
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Latest Winners" } });}
<div class="main-container">
    <div class="container">
        @foreach (WinnerViewModel data in Model)
        {
            <div class="mp-block latest-winner-space">
                @{Html.RenderPartial("_LatestChallengeWinner", data.User);}
                @{Html.RenderPartial("_LatestWonChallenges", data.WonChallenge,
                    new ViewDataDictionary(this.ViewBag) { { "CaltureCode", data.User.CultureCode } });}
            </div>
                if (Model.IndexOf(data) == 2)
                {
                    Html.Partial("_PromoBanner");
                }
        }
		
		<div class="sh-bnr-l"><img src='@Url.Content("~/Styles/images/sh-bnr1.jpg")' alt="" /></div>
			<div class="sh-bnr-r"><img src='@Url.Content("~/Styles/images/sh-bnr2.jpg")' alt="" /></div>
			<div class="sh-bnr-l"><img src='@Url.Content("~/Styles/images/sh-bnr3.jpg")' alt="" /></div>
			<div class="sh-bnr-r"><img src='@Url.Content("~/Styles/images/sh-bnr4.jpg")' alt="" /></div>
			<div class="sh-bnr-l"><img src='@Url.Content("~/Styles/images/sh-bnr5.jpg")' alt="" /></div>
			<div class="sh-bnr-r"><img src='@Url.Content("~/Styles/images/sh-bnr6.jpg")' alt="" /></div>
    </div>
</div>
