@using InplayBet.Web.Models
@using InplayBet.Web.Utilities
@using System.Globalization
@{Layout = null;}
@model List<BetModel>
@functions {
    string getClassName(int index, int lastIndex)
    {
        return ((index + 1) % lastIndex) == 0 ? "latest-bets-block-last" : "";
    }
}
@foreach (BetModel bet in Model)
{
    <div class="latest-bets-block @getClassName(Model.IndexOf(bet),3)" onclick="GoToProfile(@bet.CreatedBy)">
        <h3>bet @bet.BetNumber</h3>
        <p>
            <strong>Team Names :</strong> @Html.Raw(string.Format("{0} <strong>vs</strong> {1}", bet.TeamA.TeamName.AsString(), bet.TeamB.TeamName.AsString()))<br />
            <strong>League :</strong> @bet.Legue.LegueName.AsString()<br />
            <strong>Bet Type :</strong> @bet.BetType<br />
            <strong>Odds :</strong> @bet.Odds<br />
            <strong>Amount Placed :</strong> @bet.BetPlaced.ToString("C", new CultureInfo(bet.Challenge.User.Currency.CultureCode))<br />
            <strong>Winning Total :</strong> @bet.WiningTotal.ToString("C", new CultureInfo(bet.Challenge.User.Currency.CultureCode))<br />
            <strong>Bet Submitted On :</strong> @bet.CreatedOn.ToString("dd/MM/yyyy hh:mm:ss tt", new CultureInfo(bet.Challenge.User.Currency.CultureCode))<br />
            <strong>Status :</strong> @bet.BetStatus<br />
        </p>
    </div>
}