@using InplayBet.Web.Models
@using InplayBet.Web.Utilities
@model List<UserRankViewModel>
@{
    ViewBag.Title = "Member Search";
}
@section PageScript{
    @Html.RenderScripts("~/Scripts/Ranking")
}
@section PageStyle{
    @Html.RenderStyles("~/Styles/Ranking")
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Member Search" } });}
<div class="main-container">
    <div class="container">
        <div class="left-panel">
            <h2 class="left-heading">member search</h2>
            <p>Member name:</p>
            <input value="" name="" type="text">

            <ul class="search-filter">
                <li><a href="#">Date Joined</a></li>
                <li><a href="#">Ranking</a></li>
                <li><a href="#">Wins</a></li>
                <li><a href="#">Losses</a></li>
                <li><a href="#">Winning Bets</a></li>
                <li><a href="#">Highest Profit</a></li>
                <li><a href="#">Bookmaker</a></li>
            </ul>
        </div>
        <div class="right-block">
            @if(!Model.IsEmptyCollection())
            { 
                @Html.Hidden("TotalRecord", (int)ViewBag.TotalRecord, new { id = "TotalRecord" })
                @Html.Hidden("PageSize", (int)ViewBag.PageSize, new { id = "PageSize" })
                <div class="rank-pagger"></div>
                @Html.Partial("_UserRank", Model, new ViewDataDictionary { { "LastElement", 2 } })
                <div class="rank-pagger"></div>
            }
        </div>
        @{Html.RenderPartial("_PromoBanner");}
    </div>
</div>
