@using InplayBet.Web.Utilities
@using InplayBet.Web.Models
@using InplayBet.Web.Models.Base
@using System.Globalization
@model UserRankViewModel
@{
    ViewBag.Title = "Member Profile";
    int loggedInUser = SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey);
    var follow = CommonUtility.IsFollowing(Model.UserKey);
}
@section PageScript {
    @Html.RenderScripts("~/Scripts/ChallengeScript")
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Member Profile" } });}
<div class="main-container">
    <div class="container">
        <div class="mp-block">
            <div class="top">
                <div class="top-profile-img"><img src='@Url.Content(Model.AvatarPath)' alt=""></div>
                <div class="name-block">
                    <h4><span>Name:</span> @Model.UserId</h4>
                    <p class="member">Member Since: @Model.MemberSince.ToString("d", (new CultureInfo(Model.CultureCode)))</p>
                    <p class="join">Ranking: @Model.Rank</p>
                    <p class="bookmarker">Bookmaker - @Model.BookMakerName.ToString()</p>
                    <p class="bookmarker">Consecutive Bet Wins: @ViewBag.ConsicutiveWonBets</p>
                    <div class="follow-block">
                        <p class="bookmarker">Followers:</p>
                        <i class="follow-count" id="counter" onclick="ShowFollowerUsers(this, event, @Model.UserKey, @Model.Followers)">@Model.Followers</i>
                    </div>
                    <div class="follow-block">
                        <p class="bookmarker">Following:</p>
                        <i class="follow-count" id="counter" onclick="ShowFollowingUsers(this, event, @Model.UserKey, @Model.Followings)">@Model.Followings</i>
                    </div>
                    @if (Model.UserKey == loggedInUser)
                    {
                        <p class="bookmarker">
                            <a href='@Url.Action("Update", "RegisterUser", new { userKey = Model.UserKey })'
                               class="edit-link" title="Edit Account">Edit Profile</a>
                            <a href="javascript:ResetUserAccount('@((Url.Action("ResetAccount","MemberProfile",new{area = "", userKey = Model.UserKey, userId = Model.UserId})).ToBase64Encode())')"
                               class="reset-link" title="Reset Account">Reset Challenges</a>
                        </p>
                    }

                    @if (loggedInUser == 0)
                    {
                        <p class="bookmarker">
                            <a href="javascript:void(0)" class="follow-link" title="Follow the user"
                               style="background-image:url('@Url.Content("~/Styles/images/thumb-up-32.png")')"
                               onclick="ShowSignupMessage(this, event)"></a>
                        </p>
                    }
                    else if (follow > 0)
                    {
                        <p class="bookmarker">
                            <a href="javascript:void(0)" class="follow-link" data-status="@follow"
                               onclick="Follow(this, event, @loggedInUser, @Model.UserKey, '#counter')"></a>
                        </p>
                    }
                </div>
                <div class="detail-block member-profile">
                    <p class="left">Challenges Won @Model.Wins</p>
                    <p class="left">Challenges Lost @Model.Losses</p>
                    <p class="left">Winning Bets @Model.BetWins</p>
                    <p class="left">Won @Model.Won.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
                    <p class="left">Placed -@Model.Placed.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
                    <p class="left">Profit @Model.Profit.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
                </div>
            </div>
            @Html.Action("GetChallengesByUser", "Bet", new { userKey = Model.UserKey })
        </div>
        <div style="height:20px !important;"></div>
        <div class="sh-bnr-l"><img src='@Url.Content("~/Styles/images/sh-bnr1.jpg")' alt="" /></div>
        <div class="sh-bnr-r"><img src='@Url.Content("~/Styles/images/sh-bnr2.jpg")' alt="" /></div>
        <div class="sh-bnr-l"><img src='@Url.Content("~/Styles/images/sh-bnr3.jpg")' alt="" /></div>
        <div class="sh-bnr-r"><img src='@Url.Content("~/Styles/images/sh-bnr4.jpg")' alt="" /></div>
        <div class="sh-bnr-l"><img src='@Url.Content("~/Styles/images/sh-bnr5.jpg")' alt="" /></div>
        <div class="sh-bnr-r"><img src='@Url.Content("~/Styles/images/sh-bnr6.jpg")' alt="" /></div>
    </div>
</div>
@Html.Hidden("CurrentUserKey", SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey), new { id = "CurrentUserKey" })