@using InplayBet.Web.Utilities
@using InplayBet.Web.Models
@using InplayBet.Web.Models.Base
@using System.Globalization
@model UserRankViewModel
@{
    ViewBag.Title = "Member Profile";
    int loggedInUser = SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey);
    var follow = CommonUtility.IsFollowing(Model.UserKey);
}
@section PageScript {
    @Html.RenderScripts("~/Scripts/ChallengeScript")
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Member Profile" } });}
<div class="main-container">
    <div class="container">
        <div class="mp-block">
            <div class="top">
                <img width="150" src='@Url.Content(Model.AvatarPath)' alt="">
                <div class="name-block">
                    <h4><span>Name:</span> @Model.UserId</h4>
                    <p class="member">Member Since: @Model.MemberSince.ToString("d", (new CultureInfo(Model.CultureCode)))</p>
                    <p class="join">Ranking: @Model.Rank</p>
                    <p class="bookmarker">Bookmarker - @Model.BookMakerName.ToString()</p>
                    <p class="bookmarker">Consecutive Bet Wins: 0</p>
                    <p class="bookmarker">Followers: <i id="counter">@Model.Followers</i></p>
                    @if (Model.UserKey == loggedInUser)
                    {
                        @Html.ActionLink("Edit Profile", "Update", "RegisterUser", new { userKey = Model.UserKey }, null)
                    }

                    @if (follow > 0)
                    {
                        <p>
                            <a href="javascript:void()" class="follow-link" data-status="@follow"
                               onclick="Follow(this, event, @loggedInUser, @Model.UserKey, '#counter')"></a>
                        </p>
                    }
                </div>
                <div class="detail-block">
                    <p class="left">Challenges Won @Model.Wins</p>
                    <p class="left">Challenges Lost @Model.Losses</p>
                    <p class="left">Winning Bets @Model.BetWins</p>
                    <p class="left">Won @Model.Won.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
                    <p class="left">Placed -@Model.Placed.ToString("C", (new CultureInfo(Model.CultureCode)))</p>
                    <p class="left">Profit @((Model.Profit < 1 ? 0 : Model.Profit).ToString("C", (new CultureInfo(Model.CultureCode))))</p>
                </div>
            </div>
            @Html.Action("GetChallengesByUser", "Bet", new { userKey = Model.UserKey })
        </div>
    </div>
</div>
@Html.Hidden("CurrentUserKey", SessionVeriables.GetSessionData<int>(SessionVeriables.UserKey), new { id = "CurrentUserKey" })