@using InplayBet.Web.Utilities
@using InplayBet.Web.Models
@using System.Globalization
@model UserModel
@{
    ViewBag.Title = "Member Profile";
}
@section PageScript {
    @Html.RenderStyles("~/Styles/CommonStyle")
}
@{Html.RenderPartial("_PageTitle", new ViewDataDictionary { { "Caption", "Member Profile" } });}
<div class="main-container">
    <div class="container">
        <div class="mp-block">
            <div class="top">
                <img width="200" src='@Url.Content(Model.AvatarPath)' alt="">
                <div class="name-block">
                    <h4><span>Name:</span> @Model.UserId</h4>
                    <p class="member">Member Since: @Model.CreatedOn.ToString("d", new CultureInfo("en-GB"))</p>
                    <p class="join">Ranking: 4</p>
                    <p class="bookmarker">Bookmarker - @Model.BookMaker.BookMakerName.ToString()</p>
                </div>
                <div class="detail-block">
                    <p class="left">Wins @ViewBag.TotalWonChallengeCount</p>
                    <p class="left">Losses @ViewBag.TotalLostChallengeCount</p>
                    <p class="left">Winning Bets @ViewBag.TotalWonBetCount</p>
                    <p class="left">Won @ViewBag.TotalWonChallengeAmount</p>
                    <p class="left">Placed -@ViewBag.TotalPlacedChallengeAmount.ToString("C")</p>
                    <p class="left">Profit @ViewBag.TotalProfitAmount.ToString("C")</p>
                </div>
            </div>
            @Html.Action("GetChallengesByUser", "Bet", new { userKey = (int)ViewBag.UserKey })
        </div>
    </div>
</div>
